<table class="table table-striped table-condensed">
  <tr>
    <th><%= sortable "barcode" %></th>
    <th><%= sortable "created_at", "Checkin Time" %></th>
  </tr>

<% @patrons.each do |patron| %>
  <tr>
    <td><%= patron.barcode %></td>
    <td><%= patron.created_at.strftime("%F %T") %></td>
  </tr>
<% end %>
</table>

